<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.gmaier.headless.Application1">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.gmaier.headless.id1"
            name="de.gmaier.headless">
         <property
               name="de.gmaier.headless.property1"
               value="de.gmaier.headless.property1">
         </property>
         <property
               name="appName"
               value="de.gmaier.headless">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.gmaier.headless.id1"
            name="de.gmaier.headless">
      </product>
   </extension>

</plugin>
